{% extends "base/base.html" %}
{% block content %}
  <h2>Appointment Details</h2>
                            <span >
                                <a class="btn btn-info" href='{% url "appointments:appointment_update" appointment.pk %}'>
                                  Edite
                                </a>
                                <a class="btn btn-danger" href="{% url 'appointments:appointment_delete' appointment.pk %}">
                                  Delete
                                </a>

                            </span>
  <dl>
    <dt>Appointment ID:</dt>
    <dd>{{ appointment.Appointment_ID }}</dd>

    <dt>Patient Name:</dt>
    <dd>{{ appointment.Patient_Name }}</dd>

    <dt>Department:</dt>
    <dd>{{ appointment.Department }}</dd>

    <dt>Doctor:</dt>
    <dd>{{ appointment.Doctor }}</dd>

    <dt>Date:</dt>
    <dd>{{ appointment.Date }}</dd>

    <dt>Time:</dt>
    <dd>{{ appointment.Time }}</dd>

    <dt>Patient Email:</dt>
    <dd>{{ appointment.Patient_Email }}</dd>

    <dt>Patient Phone Number:</dt>
    <dd>{{ appointment.Patient_Phone_Number }}</dd>

    <dt>Message:</dt>
    <dd>{{ appointment.Message }}</dd>

    <dt>Appointment Status:</dt>
    <dd>{{ appointment.Appointment_Status }}</dd>
  </dl>
  <a href="{% url 'appointments:appointment_list' %}">Back to Appointments</a>
{% endblock %}
