{% extends "base/base.html" %}

{% load pagination_filters %}


{% block content %}
    <h1 class="mt-4">Appoitement List</h1>





<div class="col-auto ms-auto mb-4">
                <div class="btn-list">

                  <a href="{% url 'appointments:appointment_create' %}" class="btn btn-primary">
                    <!-- Download SVG icon from http://tabler-icons.io/i/check -->
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M5 12l5 5l10 -10" /></svg>
                    Create appoitement
                  </a>
                </div>
              </div>





<div class="container-xl">
            <div class="row row-cards">

              <div class="col-12">
                <div class="card">

                  <div class="card-body border-bottom py-3">
                    <div class="d-flex">
           
                      <div class="ms-auto text-muted">
                        Search:
                        <div class="ms-2 d-inline-block">
                          <input type="text" class="form-control form-control-sm" aria-label="Search invoice">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="table-responsive">
                    <table class="table card-table table-vcenter text-nowrap datatable">
                      <thead>
                        <tr>

                          <th>ID</th>
                          <th>Patient_Name</th>
                          <th>Department</th>
                          <th>Doctor</th>
                          <th>Status</th>
                          <th>Date</th>
                          <th>Time</th>

                          <th></th>
                        </tr>
                      </thead>
                      <tbody>


                      {% for appointment in appointments %}
                        <tr>

                          <td><a href="{% url 'appointments:appointment_detail' appointment.pk %}" class="text-reset" tabindex="-1">{{ appointment.Appointment_ID }} </a></td>
                          <td>
                            <a href="{% url 'appointments:appointment_detail' appointment.pk %}" class="" >

                              {{ appointment.Patient_Name }}
                            </a>

                          </td>
                          <td>
                             {{ appointment.Department }}
                          </td>
                          <td>
                           {{ appointment.Doctor }}

                          </td>
                          <td>
                            {{ appointment.Appointment_Status }}
                          </td>

                                                    <td>
                           {{ appointment.Date }}

                          </td>
                          <td>
                            {{ appointment.Time }}
                          </td>



                          <td class="text-end">
                            <span class="dropdown">
                              <button class="btn dropdown-toggle align-text-top" data-bs-boundary="viewport" data-bs-toggle="dropdown">Actions</button>
                              <div class="dropdown-menu dropdown-menu-end">
                                <a class="dropdown-item" href='{% url "appointments:appointment_update" appointment.pk %}'>
                                  Edite
                                </a>
                                <a class="dropdown-item" href="{% url 'appointments:appointment_delete' appointment.pk %}">
                                  Delete
                                </a>
                              </div>
                            </span>
                          </td>
                        </tr>
                      {% empty %}
                    No user profiles available.
                  {% endfor %}


                      </tbody>
                    </table>
                  </div>


                  <div class="card-footer d-flex align-items-center">
                    <ul class="pagination m-0 ms-auto">

                      {% if page_obj.has_previous %}
                      <li class="page-item ">
                      <a class="page-link"  href="?page={{ page_obj.previous_page_number }}">« Previous page</a>
                      </li>
                      {% if page_obj.number > 3 %}
                        <a class="page-link"  href="?page=1">1</a>
                        {% if page_obj.number > 4 %}
                        {% endif %}
                      {% endif %}
                    {% endif %}
                    
                    {% for num in page_obj.paginator.page_range %}
                      {% if page_obj.number == num %}
                      <li class="page-item ">
                        <a class="page-link active"  href="?page={{ num }}">{{ num }}</a>
                      </li>
                      {% elif num > page_obj.number|add:'-2' and num < page_obj.number|add:'2' %}
                      <li class="page-item "> 
                        <a class="page-link"  href="?page={{ num }}">{{ num }}</a> 
                      </li>
                      {% endif %}
                    {% endfor %}
                    
                    {% if page_obj.has_next %}
                      {% if page_obj.number < page_obj.paginator.num_pages|add:'-2' %}
                      <li class="page-item ">
                        
                        <a class="page-link"  href="?page={{ page_obj.paginator.num_pages }}">
                          .... {{ page_obj.paginator.num_pages }}
                        </a>
                      </li>
                      {% elif page_obj.number < page_obj.paginator.num_pages|add:'-2' %}
                      <li class="page-item ">
                        <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">
                          {{ page_obj.paginator.num_pages }}
                        </a>
                      </li>
                      {% endif %}
                    
                      <li class="page-item "> 
                        <a class="page-link"  href="?page={{ page_obj.next_page_number }}">Next Page »</a>
                      </li>
                    {% endif %}

                    </ul>
                  </div>






             





                </div>
              </div>
            </div>


</div>
{% endblock content %}