{% load static %}

{% load i18n static %}

    <div class="page page-center">

            <form action="{{ app_path }}" method="post" autocomplete="off" id="login-form">
              {% csrf_token %}
              <div class="mb-3">
                <label class="form-label">{{ form.username.label_tag }}</label>
                {{ form.username.errors }}
                 {{ form.username  }}
              </div>
              <div class="mb-2">
                <label class="form-label">
                  Password
                  <span class="form-label-description">

                  </span>
                </label>
                <div class="input-group input-group-flat">

                  {{ form.password.errors }}
                   {{ form.password }}
                  <input type="hidden" name="next" value="{{ next }}">

                </div>
              </div>

              <div class="form-footer">
                <input type="submit" value="{% translate 'Log in' %}" class="btn btn-primary w-100">
              </div>
            </form>
          </div>



        <div class="text-center text-muted mt-3">
          Don't have account yet? <a href="./sign-up.html" tabindex="-1">Sign up</a>
          <a href="{% url 'profiles:password_reset' %}">I forgot password</a>
        </div>





