    {% load static %}


    <!-- Libs JS -->
    <script src="{% static 'styledist/libs/apexcharts/dist/apexcharts.min.js' %} " defer></script>
    <script src="{% static 'styledist/libs/jsvectormap/dist/js/jsvectormap.min.js' %} " defer></script>
    <script src="{% static 'styledist/libs/jsvectormap/dist/maps/world.js' %} " defer></script>
    <script src="{% static 'styledist/libs/jsvectormap/dist/maps/world-merc.js' %} " defer></script>
    <!-- Tabler Core -->
    <script src="{% static 'styledist/js/tabler.min.js' %} " defer></script>
    <script src="{% static 'styledist/js/demo.min.js' %}" defer></script>
    <script src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
    <script src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
    <script src="{% static 'styledist/libs/litepicker/dist/litepicker.js' %}" defer></script>
    <script src="{% static 'styledist/libs/list.js/dist/list.js'%}" defer></script>

